@model TEMPLATE.Models.association

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>association</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_association)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.colline.NOM_colline)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.colline.NOM_colline)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOM_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOM_association)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEL_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEL_association)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_association)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
