@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@RenderPage("~/Views/Partials/_Header.cshtml")
<body>
   @RenderPage("~/Views/Partials/_SidebarHead.cshtml")
    @RenderBody()
    @RenderPage("~/Views/Partials/_SidebarMenu.cshtml") 
    @RenderPage("~/Views/Partials/_Footer.cshtml")  

    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        var sms = "@((string)ViewBag.Messag)";
        if (sms !== null && sms !== '')
        {
            swal({
                title: "Bienvenue!!!!!!!!!!",
                text: sms,
                icon: "success",
                button: true,
                timer: 5000
            });
        }
        var sms1 = "@((string)ViewBag.Messag1)";
        if (sms1 !== null && sms1 !== '') {
            swal({
                title: "Reussi!!!",
                text: sms1,
                icon: "success",
                button: false,
                timer: 5000
            });
        }
    </script>
   
</body>
</html>































