@model TEMPLATE.Models.historique_prix

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>historique_prix</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_histoPrix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_histoPrix)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.qualite.NOM_qualite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.qualite.NOM_qualite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PRIX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PRIX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_insertion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_insertion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
