
@model IEnumerable<TEMPLATE.Models.historique_utilisateur>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="main-panel">
 <div class="container">

    <div class="panel-header bg-primary-gradient">
       <div class="page-inner py-3">
          <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
             <div>
              <h2 class="text-white pb-2 fw-bold">
                Depense
            </h2>
        </div>
        <div class="ml-md-auto py-2 py-md-0">
         <!-- PAGE-HEADER -->
         <div class="page-header">
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Depense</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Liste 
          </li>
      </ol>
  </div>
  <!-- PAGE-HEADER END -->
</div>
</div>
</div>
</div>

<!-- YOUR CODE HERE
 -->            <div class="card-body rec-pat">
             
             
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-stripped table-hover table-condensed">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_histoUtilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.utilisateur.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_desactive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_histoUtilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.utilisateur.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_desactive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
</div>
     </div>