
@model TEMPLATE.Models.province
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="main-panel">
    <div class="container">
    <div class="panel-header bg-primary-gradient">
	    <div class="page-inner py-5">
		    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			    <div>
				    <h2 class="text-white pb-2 fw-bold">Profiles</h2>
			    </div>
			    <div class="ml-md-auto py-2 py-md-0">
			    <!-- PAGE-HEADER -->
			    <div class="page-header">
				    <ol class="breadcrumb">
					    <li class="breadcrumb-item">
						    <a href="#">Profiles</a>
					    </li>
					    <li class="breadcrumb-item active" aria-current="page">
						    Ajouter
					    </li>
				    </ol>
			    </div>
                <!-- PAGE-HEADER END -->
			    </div>
		    </div>
	    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">     
            </article>
            <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background-color:#D291BC;margin-top:100px;margin-bottom:4px">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="bg-light border  margin-top">
                    <div class="form-horizontal  "   >
                        <div class="form-horizontal  " >
                        <h4 style="text-align:center ;color:blue">Modifier une  provinces</h4>
                        <hr />
                        
                            <div class="editor-field">
                            @Html.HiddenFor(model => model.ID_province)
                            @Html.ValidationMessageFor(model => model.ID_province)
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label> Nom :</label>
                                @Html.TextBoxFor(model => model.NOM_province, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NOM_province)
                            </div>
                         </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label> Latitude :</label>
                                @Html.TextBoxFor(model => model.LATITUDE_province, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LATITUDE_province)
                            </div>
                         </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label> Longitude :</label>
                                @Html.TextBoxFor(model => model.LONGITUDE_province, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LONGITUDE_province)
                            </div>
                         </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-10">
                                <input type="submit" value="Modifier" class="btn btn-success pull-right" />
                            </div>
                        </div>
                    </div>
                   </div>
                    </div>
                   
                    <div>
                        @Html.ActionLink("Retour", "Index")
                    </div>
                }
            </article>
            <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">    
            </article>
        </div>
</div>
    </div>
