@model IEnumerable<TEMPLATE.Models.recoltModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="main-panel">
 <div class="container">

    <div class="panel-header bg-primary-gradient">
       <div class="page-inner py-3">
          <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
             <div>
              <h2 class="text-white pb-2 fw-bold">
                Les clients @ViewBag.associ
            </h2>
        </div>
        <div class="ml-md-auto py-2 py-md-0">
         <!-- PAGE-HEADER -->
         <div class="page-header">
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Clients</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Liste 
          </li>
      </ol>
  </div>
  <!-- PAGE-HEADER END -->
</div>
</div>
</div>
</div>

<!-- YOUR CODE HERE
 -->            <div class="card-body rec-pat" >        
      @Html.Raw(ViewBag.Message)
 <div class="container-fluid">
     @{ int NO=0;}
     @using (Html.BeginForm("Index", "Client", FormMethod.Post))
                   {
                      <div class="row">
                            <article  class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                <h2 style="color:blue">Association</h2>
                                @Html.DropDownList("ID_associationClients", null, "Choisir l'association", htmlAttributes: new { @class = "form-control " })      
                            </article>
                            <article  class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                <h2 style="color:blue">Provinces</h2>
                                @Html.DropDownList("ID_provinceActifs1", null, "Choisir la province", htmlAttributes: new { @class = "form-control " })      
                            
                            </article>
                            <article  class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                <h2 style="color:blue">Afficher</h2>
                                 <input type="submit" name="submit" value="Affiche"  class="btn btn-info"/>  
                            </article>
                      </div>  
                   }
  
      <a href="@Url.Action("Index","client")" class=" btn btn-sm  btn-outline-info pull-left  " style="margin-top:5px; margin-bottom:5px"><i class="fa fa-arrow-left mr-2"></i>Retour</a>
    
     <a href="@Url.Action("create","client")" class=" btn btn-sm  btn-info pull-right  " style="margin-top:5px; margin-bottom:5px"><i class="fa fa-plus mr-2"></i>Ajouter</a>
    <div class="table-responsive">
     <table class="table table-striped  table-bordered  " id="mytable1"  style="width:100%">
     <thead>
        <tr style="background-color:#016ce9;color:white">
        <td>NO</td>
        <th>CNI</th>
        <th>NOM</th>
        <th>PRENOM</th>
        <th>TEL</th>
        <th>ASSOCIATION</th>
        <th>COLLINE</th>
        <th>ZONE</th>
        <th>COMMUNE</th>
        <th>PROVINCE</th>
        <th>DATE D'INSERTION</th>
        <th>OPTIONS</th>
    </tr>
</thead>
        <tbody>
@foreach (var item in Model) {
    NO++;
     <tr>
        <td>
            @NO
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRENOM_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assocition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colline)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.zone)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.commune)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
             <div class="dropdown">
                <span class="dropdown-toggle dropdown-bg btn btn-outline-primary" role="button" id="dropdownMenuButton5"
                        data-toggle="dropdown" aria-expanded="false">
                    Actions
                </span>
                <div class="dropdown-menu dropdown-menu-right shadow-none" aria-labelledby="dropdownMenuButton5">
                    @Html.ActionLink("Modifier", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-info " })
                    @Html.ActionLink("Supprime", "Delete", new { id = item.ID}, new { @class = "btn btn-sm btn-danger" })
                </div>
            </div>
        </td>
    </tr>
}
</tbody>
</table>
        </div>
     </div>
     </div>
     </div> 
      @section scripts
    {
     <script src="~/Scripts/sweetAlert.js"></script>
    <script src="~/Scripts/tableau.js"></script>
    <script src="~/Scripts/tables1.js"></script>
}