@model TEMPLATE.Models.station_lavage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>station_lavage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zone.NOM_zone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zone.NOM_zone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOM_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOM_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEL_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEL_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_insertion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_insertion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
