
@model TEMPLATE.Models.station_lavage

 @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="main-panel">
    <div class="container">
    <div class="panel-header bg-primary-gradient">
	    <div class="page-inner py-5">
		    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			    <div>
				    <h2 class="text-white pb-2 fw-bold">Station de lavage</h2>
			    </div>
			    <div class="ml-md-auto py-2 py-md-0">
			    <!-- PAGE-HEADER -->
			    <div class="page-header">
				    <ol class="breadcrumb">
					    <li class="breadcrumb-item">
						    <a href="#">Station de lavage</a>
					    </li>
					    <li class="breadcrumb-item active" aria-current="page">
						    Ajouter
					    </li>
				    </ol>
			    </div>
                <!-- PAGE-HEADER END -->
			    </div>
		    </div>
	    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">     
            </article>
            <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background-color:#D291BC;margin-top:60px;margin-bottom:4px">
                <h3>Voulez vous active cette station de lavage?</h3>
                
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zone.NOM_zone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zone.NOM_zone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOM_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOM_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEL_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEL_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_insertion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_insertion)
    </div>
                @using (Html.BeginForm()) 
                {
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="supprime" class="btn btn-info pull-right" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Retour", "Index")
                    </p>
               }
            </article>
            <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">    
            </article>
        </div>
    </div>
</div>
