@model TEMPLATE.Models.station_lavage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>station_lavage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zone.NOM_zone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zone.NOM_zone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOM_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOM_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEL_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEL_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_insertion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_insertion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
