@model TEMPLATE.Models.employe_association

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>employe_association</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_employe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_employe)
            @Html.ValidationMessageFor(model => model.ID_employe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CNI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CNI)
            @Html.ValidationMessageFor(model => model.CNI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_association, "association")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_association", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_association)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NOM_employe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NOM_employe)
            @Html.ValidationMessageFor(model => model.NOM_employe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PRENOM_employe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRENOM_employe)
            @Html.ValidationMessageFor(model => model.PRENOM_employe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEL_employe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEL_employe)
            @Html.ValidationMessageFor(model => model.TEL_employe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EMAIL_employe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMAIL_employe)
            @Html.ValidationMessageFor(model => model.EMAIL_employe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Statut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Statut)
            @Html.ValidationMessageFor(model => model.Statut)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
