@model TEMPLATE.Models.association

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>association</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_association)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.colline.NOM_colline)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.colline.NOM_colline)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOM_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOM_association)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TEL_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TEL_association)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_association)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
