@model IEnumerable<TEMPLATE.Models.employe_association>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="main-panel">
 <div class="container">

    <div class="panel-header bg-primary-gradient">
       <div class="page-inner py-3">
          <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
             <div>
              <h2 class="text-white pb-2 fw-bold">
                Les employes des associations
            </h2>
        </div>
        <div class="ml-md-auto py-2 py-md-0">
         <!-- PAGE-HEADER -->
         <div class="page-header">
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Les employes des associations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Liste 
          </li>
      </ol>
  </div>
  <!-- PAGE-HEADER END -->
</div>
</div>
</div>
</div>
<div class="card-body rec-pat" >
    <a href="@Url.Action("create","EmployeAssociation")" class=" btn btn-sm  btn-success pull-right  " style="margin-top:5px; margin-bottom:5px"><i class="fa fa-plus mr-2"></i>Ajouter</a>
     <div class="table-responsive">
          <table class="table table-striped  table-bordered  " id="mytable"  style="width:100%">
               <thead>
                   <tr style="background-color:darkturquoise">
                        <th>NO</th>
                        <th>ASSOCIATION</th>
                        <th>CNI</th>
                        <th>NOM</th>
                        <th>PRENOM</th>
                        <th>TEL</th>
                        <th>EMAIL</th>
                        <th>STATUT</th>
                        <th>OPTIONS</th>
                   </tr>
               </thead>
               <tbody>
                    @{ int NO=0;}
                    @foreach (var item in Model)
                    {
                        NO = NO + 1;
                        <tr>
                            <td>
                                @NO
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.association.NOM_association)
                            </td>
                             <td>
                                @Html.DisplayFor(modelItem => item.CNI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOM_employe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PRENOM_employe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TEL_employe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMAIL_employe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Statut)
                            </td>
                            <td>
                            <div class="dropdown">
                                <span class="dropdown-toggle dropdown-bg btn btn-outline-primary" role="button" id="dropdownMenuButton5"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none" aria-labelledby="dropdownMenuButton5">
                                    @Html.ActionLink("Modifier", "Edit", new { id = item.ID_employe }, new { @class = "btn btn-sm btn-success " })
                                    @Html.ActionLink("Supprime", "Delete", new { id = item.ID_employe }, new { @class = "btn btn-sm btn-danger" })
                                </div>
                            </div>
                            </td>
                        </tr>
                    }
              </tbody>
        </table>
    </div>
  </div>
</div>