@model TEMPLATE.Models.historique_station

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>historique_station</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_histoStation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_histoStation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.station_lavage.NOM_station)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.station_lavage.NOM_station)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_desactive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_desactive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
