@model TEMPLATE.Models.historique_asscociation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>historique_asscociation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_histoAssoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_histoAssoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.association.NOM_association)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.association.NOM_association)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_desactive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_desactive)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
