

@model TEMPLATE.Models.utilisateur
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="main-panel">
    <div class="container">
    <div class="panel-header bg-primary-gradient">
	    <div class="page-inner py-5">
		    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
			    <div>
				    <h2 class="text-white pb-2 fw-bold">Utilisateur</h2>
			    </div>
			    <div class="ml-md-auto py-2 py-md-0">
			    <!-- PAGE-HEADER -->
			    <div class="page-header">
				    <ol class="breadcrumb">
					    <li class="breadcrumb-item">
						    <a href="#">Utilisateur</a>
					    </li>
					    <li class="breadcrumb-item active" aria-current="page">
						    Ajouter
					    </li>
				    </ol>
			    </div>
                <!-- PAGE-HEADER END -->
			    </div>
		    </div>
	    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">     
            </article>
            <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="background-color:#D291BC;margin-top:100px;margin-bottom:4px">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="bg-light border  margin-top">
                    <div class="form-horizontal  "   >
                        <h4 style="text-align:center ;color:blue">Ajouter une nouveau utilisateur</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                            <label> Profile :</label>
                            @Html.DropDownList("ID_profile", null, "Choisir la profile", htmlAttributes: new { @class = "form-control " })
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-md-12">
                            <label> Employe association :</label>
                            @Html.DropDownList("ID_employe", null, "Choisir l'employe de l'association", htmlAttributes: new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                            <label> Employe station :</label>
                            @Html.DropDownList("ID_employ", null, "Choisir l'employe de station", htmlAttributes: new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label> Nom d'utisateur :</label>
                                @Html.TextBoxFor(model => model.username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.username)
                            </div>
                         </div>
                        @{string A = "";
                            }
                        <div class="form-group">
                            <div class="col-md-12">
                                <label> Mots de passe :</label>
                                 @Html.PasswordFor(model => model.passwords, new { @class = "form-control", @placeholder = "Password" })
                                 @A=@Html.ValidationMessageFor(model => model.passwords)
                           @A
                                 </div>
                         </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-10">
                                <input type="submit" value="Enregistre" class="btn btn-success pull-right" />
                            </div>
                        </div>
                    </div>
                    </div>
                    <div>
                        @Html.ActionLink("Retour", "Index")
                    </div>
                }
            </article>
            <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">    
            </article>
        </div>
</div>
    </div>

